.bg-outline-blue      { border:1px solid #007bff !important; color: #007bff !important; }
.bg-outline-indigo    { border:1px solid #6610f2 !important; color: #6610f2 !important; }
.bg-outline-purple    { border:1px solid #6f42c1 !important; color: #6f42c1 !important; }
.bg-outline-pink      { border:1px solid #e83e8c !important; color: #e83e8c !important; }
.bg-outline-red       { border:1px solid #d9534f !important; color: #d9534f !important; }
.bg-outline-orange    { border:1px solid #fd7e14 !important; color: #fd7e14 !important; }
.bg-outline-yellow    { border:1px solid #f0ad4e !important; color: #f0ad4e !important; }
.bg-outline-green     { border:1px solid #4bbf73 !important; color: #4bbf73 !important; }
.bg-outline-teal      { border:1px solid #20c997 !important; color: #20c997 !important; }
.bg-outline-cyan      { border:1px solid #1f9bcf !important; color: #1f9bcf !important; }
.bg-outline-white     { border:1px solid #fff    !important; color: #fff    !important; }
.bg-outline-gray      { border:1px solid #919aa1 !important; color: #919aa1 !important; }
.bg-outline-gray-dark { border:1px solid #343a40 !important; color: #343a40 !important; }
.bg-outline-gray-100  { border:1px solid #f8f9fa !important; color: #f8f9fa !important; }
.bg-outline-gray-200  { border:1px solid #f7f7f9 !important; color: #f7f7f9 !important; }
.bg-outline-gray-300  { border:1px solid #eceeef !important; color: #eceeef !important; }
.bg-outline-gray-400  { border:1px solid #ced4da !important; color: #ced4da !important; }
.bg-outline-gray-500  { border:1px solid #adb5bd !important; color: #adb5bd !important; }
.bg-outline-gray-600  { border:1px solid #919aa1 !important; color: #919aa1 !important; }
.bg-outline-gray-700  { border:1px solid #55595c !important; color: #55595c !important; }
.bg-outline-gray-800  { border:1px solid #343a40 !important; color: #343a40 !important; }
.bg-outline-gray-900  { border:1px solid #1a1a1a !important; color: #1a1a1a !important; }
.bg-outline-primary   { border:1px solid #1a1a1a !important; color: #1a1a1a !important; }
.bg-outline-secondary { border:1px solid #fff    !important; color: #fff    !important; }
.bg-outline-success   { border:1px solid #4bbf73 !important; color: #4bbf73 !important; }
.bg-outline-info      { border:1px solid #1f9bcf !important; color: #1f9bcf !important; }
.bg-outline-warning   { border:1px solid #f0ad4e !important; color: #f0ad4e !important; }
.bg-outline-danger    { border:1px solid #d9534f !important; color: #d9534f !important; }
.bg-outline-light     { border:1px solid #fff    !important; color: #fff    !important; }
.bg-outline-dark      { border:1px solid #343a40 !important; color: #343a40 !important; }