input,
select,
button,
.btn,
.accordion-button {
    box-shadow: none !important;
}

input,
select {
    box-shadow:
        inset 1px 1px 1px rgba(0, 0, 0, .5),
        inset -1px -1px 1px rgba(0, 0, 0, .5) !important;
}

input:focus,
select:focus {
    box-shadow:
        inset 1px 1px 1px rgba(0, 0, 0),
        inset -1px -1px 1px rgba(0, 0, 0) !important;
}


.icon-del::-webkit-calendar-picker-indicator {
    display: none;
}

.swiper:before {
    content: "";
    display: block;
    padding-top: calc(1/2.35*100%);
    /* 縦/横*100の値を書く */
}

.swiper-wrapper {
    position: absolute;
    /* ← swiper.cssと優先順位が干渉するときは工夫してください */
    top: 0;
    left: 0;
}

.swiper-wrapper img {
    width: 100%;
    height: auto;
}

.swiper-overlay {
    width: 40%;
    background-color: #00000055;
    backdrop-filter: blur(3px);
    height: 100%;
    padding: 15px;
}

@media screen and (max-width: 575px) {
    .swiper-overlay {
        width: 100%;
    }
}

.hover-shadow {
    transition: all .3s;
    position: relative;
    overflow: hidden;
}

.hover-shadow:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4), 0 0 50px rgba(128, 128, 128, 0.1);
    /* opacity: .5; */
}

.caption {
    padding: 5px;
    transition: all .3s;
    position: absolute;
    background-color: #00000055;
    backdrop-filter: blur(2px);
    bottom: -100px;
    left: 0;
    color: white;
}

.hover-shadow:hover .caption {
    bottom: 0;
}

.form-control {
    padding-left: 15px;
    padding-right: 15px;
}

.form-select {
    padding-left: 15px;
    padding-right: 40px;
}

.text-outline {
    text-shadow: white 1px 1px 0px, white -1px 1px 0px,
white 1px -1px 0px, white -1px -1px 0px;
}

.bg-outline-success {
    background-color: #fff !important;
}

.g-ep-label.rounded-pill {
    cursor:pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
}

* {
	text-transform: none !important;
}